#
# SHARP Grip Sensor Driver configuration
#

menu "Grip Sensor Driver configuration"

config SENSOR_SHGRIP
        bool "SHARP Grip Sensor Driver"
        default n

config SENSOR_SHGRIP_MODEL1
        bool "SHARP Grip Sensor Model1 Driver"
        depends on SENSOR_SHGRIP
        default n

config SENSOR_SHGRIP_MODEL2
        bool "SHARP Grip Sensor Model2 Driver"
        depends on SENSOR_SHGRIP
        default n

config SENSOR_SHGRIP_MODEL3
        bool "SHARP Grip Sensor Model3 Driver"
        depends on SENSOR_SHGRIP
        default n
endmenu
